@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-space-dark text-white font-sans;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-space-dark;
}
::-webkit-scrollbar-thumb {
  @apply bg-space-light rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-space-accent;
}

html {
  margin: 0px !important;
  scroll-behavior: smooth;
}

body {
  margin: 0px !important;
  scroll-behavior: smooth;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(-20px);
    animation-timing-function: ease-out;
  }
}

.animate-spin {
  animation: spin 50s infinite;
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
