@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px !important;
  scroll-behavior: smooth;
}

body {
  margin: 0px !important;
  scroll-behavior: smooth;
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(-20px);
    animation-timing-function: ease-out;
  }
}

.animate-spin {
  animation: spin 50s infinite;
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}
